.payment-form {
    min-height: 100vh;
    background: #000;
}

.payment-form input {
    height: 40px;
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    border: 1px solid #e3c859;
    background: #000;
}

.payment-form h4 {
    font-size: 18px;
    color: #fff;
    margin: 20px 0 15px;
}

.payment-form .buttons.form-group button {
    width: 100%;
    height: 45px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background: #FF9800;
    border: 0;
}